* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #838e91;
}

h5 {
  font-size: 1.5em;
}

button {
  height: 3em;
  width: auto;
  border: none;
  text-align: center;
  font-size: 12px;
  background-color: #dd7396;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff6f2;
}

hr {
  border: 1px solid #dd7396;
  margin: 3px;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: #e86252;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display {
  width: 30vw;
  height: 95vh;
}

.rectangles-display {
  height: 90%;
  background-color: rgb(255, 236, 246);
  width: inherit;
  border: 1px solid #e86252;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.add-display {
  height: 10%;
  background-color: #e86252;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-button {
  background-color: #e86252;
  height: 3em;
  width: 3em;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: #dd7396;
  padding: 0;
}
.add-button:hover {
  filter: brightness(120%);
}

.square {
  height: 30px;
  margin: 2px;
}

.square-large {
  width: 95%;
}

.square-medium {
  width: 60%;
}

.square-small {
  width: 40%;
}

.square-pink {
  background-color: #dd7396;
}

.square-green {
  background-color: #7dd181;
}

.square-violet {
  background-color: #785589;
}

.square-blue {
  background-color: #9bbdf9;
}

.square-orange {
  background-color: #ff9b42;
}

.square-yellow {
  background-color: #f9e784;
}

.main-icon {
  color: white;
}
